<h1 class="text-center mt-4">Hello <%= @user.username %>!</h1>

<div class="mb-4">
<%= render 'layouts/pagination', obj: @articles %>
</div>

<div class=></div>
<%= gravatar_for(@user, size: 200) %>

<% if logged_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to 'Edit your Profile', edit_user_path(@user), class: "btn btn-outline-info" %>
    <%= link_to 'Delete your account', user_path(@user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
<% end %>

<%= render 'articles/article' %>

<div class="mb-4">
<%= render 'layouts/pagination', obj: @articles %>
</div>